/* global.css */
html, body {
    margin: 0;
    padding: 0; /* Remove extra padding */
    height: 100%; /* Ensure full height inheritance */
    width: 100%; /* Ensure full width inheritance */
  }
  
  #map {
    width: 75%; /* Full width */
    height: 75vh; /* Full viewport height */
  }
  