/* global.css */
html, body {
    margin: 0;
    padding: 0; /* Remove extra padding */
    height: 100%; /* Ensure full height inheritance */
    width: 100%; /* Ensure full width inheritance */
  }
  
#map {
    width: 100%; /* Full width */
    height: 100vh; /* Full viewport height */
}
#map svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure it appears above the map */
    pointer-events: none; /* Allows interaction with the map */
}
circle {
    fill-opacity: 0.6;
    stroke: white;
    stroke-width: 1;
    pointer-events: auto;
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
    );
    fill: var(--color);
}
.tooltip {
    position: absolute;
    pointer-events: none;
    opacity: 0;
  }